<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChompEm WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ChompEm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Glance - ChompEm WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - ChompEm WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>903740571B4D9BB00043A033</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46CDD151B4AE8B10085E403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46CDD2E1B4AE8B10085E403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46CDD7D1B4AFF0A0085E403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
